.git
.gitignore
.env
.env.*
node_modules/
vendor/
public/build/
public/storage/
storage/app/public/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests/
.github/
.idea/
.vscode/
*.md
docker-compose*.yml
Dockerfile
.dockerignore
!storage/app/public/.gitkeep
